/* document local styles */

#text kbd {
	font-style : italic;
}

#text h1, #text h2, #text h3{
	counter-reset : section;
}

.counter p {
	text-indent: 1.75em;
}

.counter p::before {
    content : counter(section) ".    ";
    counter-increment : section;
}
