Source: kicad
Section: electronics
Priority: optional
Maintainer:  Debian Kicad Team <kicad-devel@lists.mose.flexserv.de>
Uploaders: Richard Antony Burton <richardaburton@gmail.com>, Daniel J. Priem <danielpriem@flexserv.de>
Build-Depends: debhelper (>= 5), dpatch, libx11-dev, libglu1-mesa-dev, libgl1-mesa-dev, mesa-common-dev, libwxbase2.6-dev, libwxgtk2.6-dev
Standards-Version: 3.7.3.0
Homepage: http://www.lis.inpg.fr/realise_au_lis/kicad/

Package: kicad
Architecture: any
Depends: kicad-common (>= ${source:Version}), ${shlibs:Depends}
Replaces: kicad-common (<< 0.0.20071129a-1)
Description: Electronic schematic and PCB design software
 Kicad is a suite of programs for the creation of printed circuit boards.
 It includes a schematic editor, a PCB layout tool, support tools and a
 3D viewer to display a finished & fully populated PCB.
 .
 Kicad is made up of 5 main components:
 .
  * kicad - project manager
  * eeschema - schematic editor
  * pcbnew - PCB editor
  * gerbview - GERBER viewer
  * cvpcb - footprint selector for components
 .
 Libraries:
  * Both eeschema and pcbnew have library managers and editors for their
    components and footprints
  * You can easily create, edit, delete and exchange library items
  * Documentation files can be associated with components, footprints and key
    words, allowing a fast search by function
  * Very large libraries are available for schematic components and footprints
  * Most components have corresponding 3D models

Package: kicad-common
Architecture: all
Recommends: kicad
Description: Common files used by kicad
 This package contains the component libraries and language files for Kicad.

Package: kicad-doc-en
Architecture: all
Description: Kicad help files (English)
 This package provides documentation for Kicad in English.

Package: kicad-doc-es
Architecture: all
Description: Kicad help files (Spanish)
 This package provides documentation for Kicad in Spanish.

Package: kicad-doc-fr
Architecture: all
Description: Kicad help files (French)
 This package provides documentation for Kicad in French.

Package: kicad-doc-de
Architecture: all
Depends: kicad-doc-en (= ${source:Version})
Description: Kicad help files (German)
 This package provides documentation for Kicad in German.
 This package does not provide a German translation of the manual so English
 will be used instead.

Package: kicad-doc-pt
Architecture: all
Description: Kicad help files (Portuguese)
 This package provides documentation for Kicad in Portuguese.

Package: kicad-doc-ru
Architecture: all
Description: Kicad help files (Russian)
 This package provides documentation for Kicad in Russian.

Package: kicad-doc-it
Architecture: all
Depends: kicad-doc-en (= ${source:Version})
Description: Kicad help files (Italian)
 This package provides documentation for Kicad in Italian.
 This package does not provide an Italian translation of the manual so English
 will be used instead.
