[Desktop Entry]
MimeType=text/pro
Name=KiCad
Exec=kicad
Icon=kicad.xpm
Categories=Electronics;Development
Type=Application
Terminal=false
Comment=PCB-Suite
