html, body {
	font-family : 'Open Sans', Arial, Helvetica, sans-seriff;
	font-size : 11pt;
	color : black;
	margin : 0;
	padding : 5px;
	background : black;
}


/* main container */

#document {
	width : 1200px;
	margin : auto;
	background : white;
}


/* navigation */

#navbar {
	width : 320px;
	float : left;
	clear : both;
	padding : 5px;
}


/* virtual first page */

#firstpage {
	font-family : 'Merriweather Sans', Arial, Helvetica, sans-seriff;
	text-align : center;
}

#firstpage p.left {
	text-align : left;
}

#firstpage .title {
	font-size : 30pt;
	font-weight : bold;
	color : #A37F00;
}

#firstpage .subtitle {
	font-size : 12pt;
	color : #444;
}


/* copyright note */

#copyright {
	border-top : 2px solid #A37F00;
	font-size : 9pt;
	color : #444;
	text-align : justify;	
}


/* document index */

#index {
	border-top : 2px solid #A37F00;
	font-family : 'Merriweather Sans', Arial, Helvetica, sans-seriff;
	font-size : 12pt;
	color : #444;
}

#index h1 {
	font-size : 18pt;
	color : #A37F00;
}

#index ol > li {
	font-size : 14pt;
	padding-top : 6px;	
}

#index ul > li {
	font-family : 'Open Sans', Arial, Helvetica, sans-seriff;
	font-size : 10pt;
	list-style-type : none;
	margin-left : -0.7cm;
	padding-left : -0.7cm;
	padding-top : 2px;
}

#index ul > li > ul > li {
	font-size : 9pt;
	list-style-type : none;
	margin-left : -0.8cm;
	padding-left : -0.8cm;
	padding-top : 2px;	
}

#index ul > li > ul > li > ul > li {
	font-size : 8pt;
	margin-left : -0.8cm;
	padding-left : -0.8cm;
	padding-top : 2px;	
}

#index a, #index a:visited {
	color : black;
	text-decoration : none;
}

#index a:hover {
	color : #A37F00;
	text-decoration : underline;
}


/* document text */

#text {
	border-left : 330px solid #F7F3E8;
	padding : 15px 10px 10px 10px;
	color : #333;
	text-align : justify;	
}

#text h1 {
	font-family : 'Merriweather Sans', Arial, Helvetica, sans-seriff;
	border-bottom : 4px solid #A37F00;
	letter-spacing : 2px;
	text-indent : 10px;
	text-align : left;
}

#text h2, #text h3, #text h4 {
	font-family : 'Merriweather Sans', Arial, Helvetica, sans-seriff;
	padding-left : 2cm;
}

#text p, #text dl {
	padding-left : 2cm;
}

#text ul, #text ol {
	padding-left : 3cm;
}

#text table {
	padding-left : 2cm;
}

#text table td {
	background : whitesmoke;
	padding : 5px;
}

#text table td ul {
	padding-left : 0.5cm;
}

#text pre {
	padding-left : 2cm;
	font-size : 11pt;
}

#text pre code {
	background : whitesmoke;
	border : 1px solid gray;
	border-right : 15px solid gray;
	border-left : 15px solid gray;
	display : block;
	padding : 5px;
	color : black;
}

#text var {
	font-style : normal;
	font-weight : bolder;
	color : navyblue;
}


/* general styles */

.blue {
	color : blue;
}

.bblue {
	color : blue;
	font-weight : bold;
}	

.iblue {
	color : blue;
	font-style : italic;
}	

.red {
	color : red;
}

.command {
	font-weight : bold;
	color : #A37F00;
	border-bottom : 1px dashed #A37F00;
}

.framed {
	border : 2px solid #A37F00;
	padding : 3px;
}